<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.3.0.min.css"/>
    <style>
    </style>
</head>
<body>

<h2 th:text="${fpmi.name}"></h2>

<table>
    <tr>
        <th></th>
        <th>План</th>
        <th>Заявок</th>
        <th>Проходной</th>
        <th>Не проходят</th>
        <th>< 311</th>
    </tr>
    <tr>
        <td>Бюджет</td>
        <td th:text="${fpmi.getPlanFree()}">0</td>
        <td th:text="${fpmi.getRequestFree()}">0</td>
        <td th:text="${fpmi.getFreePass()}">0</td>
        <td th:text="${fpmi.getRequestsBeyondPassFree()}">0</td>
        <td th:text="${fpmi.getRequestCountBelow311Free()}">0</td>
    </tr>
    <tr>
        <td>Платное</td>
        <td th:text="${fpmi.getPlanPay()}">0</td>
        <td th:text="${fpmi.getRequestPay()}">0</td>
        <td th:text="${fpmi.getPayPass()}">0</td>
        <td th:text="${fpmi.getRequestsBeyondPassPay()}">0</td>
        <td th:text="${fpmi.getRequestCountBelow311Pay()}">0</td>
    </tr>
</table>

<table>
    <tr>
        <th>План (б/п)</th>
        <th>Заявок (б/п)</th>
        <th>Проходной (б/п)</th>
        <th>Не проходят (б/п)</th>
        <th>< 311 б</th>
        <th>< 311 п</th>
        <th>Специальность</th>
    </tr>
    <tr th:each="speciality : ${fpmi.getSpecialitiesByPopularity()}">
        <td>
            <span th:text="${speciality.getPlanFree()}"></span>
            <span>/</span>
            <span th:text="${speciality.getPlanPay()}"></span>
        </td>
        <td>
            <span th:text="${speciality.getRequestFree()}"></span>
            <span>/</span>
            <span th:text="${speciality.getRequestPay()}"></span>
        </td>
        <td>
            <span th:text="${speciality.getFreePass()}"></span>
            <span>/</span>
            <span th:text="${speciality.getPayPass()}"></span>
        </td>
        <td>
            <span th:text="${speciality.getRequestsBeyondPassFree()}"></span>
            <span>/</span>
            <span th:text="${speciality.getRequestsBeyondPassPay()}"></span>
        </td>
        <td th:text="${speciality.getRequestCountBelow311Free()}">0</td>
        <td th:text="${speciality.getRequestCountBelow311Pay()}">0</td>

        <td th:text="${speciality.getName()}">0</td>
    </tr>
</table>


<h2 th:text="${mexmat.name}"></h2>

<table>
    <tr>
        <th></th>
        <th>План</th>
        <th>Заявок</th>
        <th>Проходной</th>
        <th>Не проходят</th>
        <th>< 311</th>
    </tr>
    <tr>
        <td>Бюджет</td>
        <td th:text="${mexmat.getPlanFree()}">0</td>
        <td th:text="${mexmat.getRequestFree()}">0</td>
        <td th:text="${mexmat.getFreePass()}">0</td>
        <td th:text="${mexmat.getRequestsBeyondPassFree()}">0</td>
        <td th:text="${mexmat.getRequestCountBelow311Free()}">0</td>
    </tr>
    <tr>
        <td>Платное</td>
        <td th:text="${mexmat.getPlanPay()}">0</td>
        <td th:text="${mexmat.getRequestPay()}">0</td>
        <td th:text="${mexmat.getPayPass()}">0</td>
        <td th:text="${mexmat.getRequestsBeyondPassPay()}">0</td>
        <td th:text="${mexmat.getRequestCountBelow311Pay()}">0</td>
    </tr>
</table>

<table>
    <tr>
        <th>План (б/п)</th>
        <th>Заявок (б/п)</th>
        <th>Проходной (б/п)</th>
        <th>Не проходят (б/п)</th>
        <th>< 311 б</th>
        <th>< 311 п</th>
        <th>Специальность</th>
    </tr>
    <tr th:each="speciality : ${mexmat.getSpecialitiesByPopularity()}">
        <td>
            <span th:text="${speciality.getPlanFree()}"></span>
            <span>/</span>
            <span th:text="${speciality.getPlanPay()}"></span>
        </td>
        <td>
            <span th:text="${speciality.getRequestFree()}"></span>
            <span>/</span>
            <span th:text="${speciality.getRequestPay()}"></span>
        </td>
        <td>
            <span th:text="${speciality.getFreePass()}"></span>
            <span>/</span>
            <span th:text="${speciality.getPayPass()}"></span>
        </td>
        <td>
            <span th:text="${speciality.getRequestsBeyondPassFree()}"></span>
            <span>/</span>
            <span th:text="${speciality.getRequestsBeyondPassPay()}"></span>
        </td>
        <td th:text="${speciality.getRequestCountBelow311Free()}">0</td>
        <td th:text="${speciality.getRequestCountBelow311Pay()}">0</td>

        <td th:text="${speciality.getName()}">0</td>
    </tr>
</table>


</body>
</html>
